<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <input type="radio" id="red" value="red" v-model="color">
    <label for="red">Red</label>
    <input type="radio" id="green" value="green" v-model="color">
    <label for="green">Green</label>
    <input type="radio" id="blue" value="blue" v-model="color">
    <label for="blue">Blue</label>
    <p>{{color}}</p>
  </div>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/main.js"></script>
</body>
</html>